@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-body-mobile md:text-body-desktop;
    font-family: 'GT-America-Standard-Regular', system-ui, sans-serif;
  }

  h1 {
    @apply text-headline-mobile md:text-headline-desktop;
  }

  h2 {
    @apply text-leading-mobile md:text-leading-desktop;
  }

  h3 {
    @apply text-subtitle-mobile md:text-subtitle-desktop;
  }
}

.striped-frame {
  @apply border-8 border-solid bg-postcard-beige md:border-14;
  border-image: repeating-linear-gradient(
      -45deg,
      #f7f3ee,
      #f7f3ee 30px,
      #d0332e 31px,
      #d0332e 50px,
      #f7f3ee 51px,
      #f7f3ee 90px,
      #2f7346 91px,
      #2f7346 110px,
      #f7f3ee 111px
    )
    12;
}

.codeBlockColorOverride span {
  background-color: #e9e9e9 !important;
}
